<div class="container-fluid wrapper">
    <div class="row header-block">
        <app-navabr></app-navabr>
    </div>
    <div class="row p-0 m-0 content-block">
        <div class="col-2 sidebar-block" style="background-color: greenyellow;">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-10 content-area-block" style="background-color: lightgreen;">
            <app-contentarea>
            </app-contentarea>
        </div>
    </div>


</div>





<!-- <app-navabr></app-navabr> -->