
<div class="container" >
    <div class="row">
        <div class="col-ms-6">
            <ul class="sidebar" >
                <li *ngFor="let item of items" class="active">
                <img src="../../assets/{{item.icon}}" class="icon"/>                    
                        <span class="title">
                          <a href=""> {{item.name}}</a>
                        </span>                    
                    </li>                  
            </ul>            
        </div>
    </div>    
</div>.